@(user: silhouette.SilhouetteUser)(implicit messages: Messages)

@main(Messages("main.menu.admin"), user, Some("admin"), Some(Messages("main.menu.admin"))) {
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Messages("admin.reports")</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-bordered table-hover" role="grid">
                        <tbody>
                            <tr>
                                <td><a href="@routes.ReportController.allUsers">@Messages("admin.users")</a></td>
                            </tr>
                            <tr>
                                <td><a href="@routes.ReportController.allGroups">@Messages("admin.groups")</a></td>
                            </tr>
                            <tr>
                                <td><a href="@routes.ReportController.allPlaces">@Messages("admin.places")</a></td>
                            </tr>
                            <tr>
                                <td><a href="@routes.ReportController.allVotings">@Messages("admin.votings")</a></td>
                            </tr>
                            <tr>
                                <td><a href="@routes.ReportController.allOrders">@Messages("admin.orders")</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}