@import dao.OrderDao
@(user: silhouette.SilhouetteUser, incomes: Seq[(models.UserRow, models.UserToOrderRow, models.OrderRow)])(implicit messages: Messages)

@main(Messages("payment.income.title"), user, Some("payment"), Some(Messages("payment.income.title"))) {
    <div class="col-lg-6 col-lg-offset-3">
        <div class="box box-primary">
            <div class="box-body">
                <table id="incomes-table" class="table table-bordered table-hover" role="grid">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th><span data-toggle="tooltip" title="@Messages("payment.income.explanation.order")">
                                @Messages("payment.income.order")
                            </span></th>
                            <th><span data-toggle="tooltip" title="@Messages("payment.income.explanation.user")">
                                @Messages("payment.income.user")
                            </span></th>
                            <th><span data-toggle="tooltip" title="@Messages("payment.income.explanation.cost")">
                                @Messages("payment.income.cost")
                            </span></th>
                            <th><span data-toggle="tooltip" title="@Messages("payment.income.explanation.status")">
                                @Messages("payment.income.status")
                            </span></th>
                            <th><span data-toggle="tooltip" title="@Messages("payment.income.explanation.accept")">
                            @Messages("payment.income.accept")
                            </span></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((income, i) <- incomes.sortWith((a, b) => {
                        if (a._2.status == b._2.status) {
                            a._3.creationDate.getTime > b._3.creationDate.getTime
                        } else {
                            a._2.status < b._2.status
                        }
                    }).zipWithIndex) {
                        <tr>
                            <td>@{i + 1}</td>
                            <td><a href="@routes.OrderController.getOrderDetails(income._3.id)">@income._3.creationDate.format("dd-MM-yyyy")</a></td>
                            <td><a href="@routes.UserController.userDetails(income._1.id)">@income._1.fullName</a></td>
                            <td>@tags.currency(income._2.cost)</td>
                            <td style="text-align: center">@tags.userOrderBadge(income._2.status)</td>
                            <td style="text-align: center">
                                @if(income._2.status == OrderDao.orderNotPayed) {
                                    <a class="income-accept" income-id="@income._2.id" href="#"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div id="payed-text" hidden>@Messages("order.details.status.payed")</div>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.versioned("js/payment.incomes.js")"></script>
}